* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: 400px;
  height: 50vh;
  object-fit: cover;
}

.productCard {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.firstInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 6vh;
  min-height: 57px;
}

.preFormReg {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formReg {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.buttonsGroup {
  margin-top: 2vh;
  width: 100%;
  text-align: center;
}

.regButton {
  margin-right: 2vh;
  height: 6vh;
}

.loginButton {
  margin-right: 2vh;
  height: 6vh;
}
